TZ=America/Sao_Paulo

GLPI_HTTP_PORT=8180
GLPI_DB_NAME=glpi
GLPI_DB_USER=glpi
GLPI_DB_PASSWORD=SUBSTITUIR_POR_SENHA_SEGURA
GLPI_DB_ROOT_PASSWORD=SUBSTITUIR_POR_OUTRA_SENHA_SEGURA

OPENPROJECT_HTTP_PORT=8280
OPENPROJECT_HOST_NAME=localhost:8280
SECRET_KEY_BASE=SUBSTITUIR_POR_CHAVE_ALEATORIA_LONGA
OPENPROJECT_ADMIN_PASSWORD=SUBSTITUIR_POR_SENHA_SEGURA
